<% if (items.length > 0) { %>


    <ul class="items-list-container">

        <% for (let i = 0; i < items.length; i++) { %>
    
            <li>

                <%- include("./partials/item.ejs", {
                    itemName: items[i].name,
                    canDel: true,
                }) %>

            </li>
    
    
        <% } %>

    </ul>


<% } else { %>

    <p class="no-items no-items-paragraph">
        No items for this category, feel free to add some...
    </p>

<% } %>


<%- include("./partials/item.ejs", {
    itemName: "+ Add Item",
    canDel: false
}) %>


<script>
    
</script>




<%- contentFor('pageTitle') %>
    <title>Items Page</title>


<%- contentFor('styleSheets') %>
    <link rel="stylesheet" href="/pages/itemsPage.css">


