<% if (items.length > 0) { %>


    <ul class="items-list-container">

        <% for (let i = 0; i < items.length; i++) { %>
    
    
    
    
    
        <% } %>

    </ul>


<% } else { %>

    <p class="no-items no-items-paragraph">
        No items for this category, feel free to add some...
    </p>

<% } %>