
<main class="items-main-container">

    <ul class="items-list-container">

        <% if (items.length > 0) { %>
    
    
    
            <% for (let i = 0; i < items.length; i++) { %>
    
    
                    <%- include("./partials/item.ejs", {
                        itemName: items[i].name,
                        canDel: true,
                    }) %>
        
        
            <% } %>
    
            
            
            <% } else { %>
                

                <p class="no-items no-items-paragraph">
                    No items for this category, feel free to add some...
                </p>
                
            <% } %>


            <%- include("./partials/item.ejs", {
                itemName: "+ Add Item",
                canDel: false
            }) %>
                
                
    </ul>

</main>




<script>

</script>




<%- contentFor('pageTitle') %>
    <title>Items Page</title>


<%- contentFor('styleSheets') %>
    <link rel="stylesheet" href="/pages/itemsPage.css">


