<div 
    class="category-outer-container"
    data-redirect-url="<%= url %>"
    data-action="<%= onClick %>"
    >

    <p class="category-title">
        <%= categoryName %>
    </p>

    <% if (canDel) { %>

        <button class="close-btn category-del-btn" type="button">X</button>

    <% } %>

</div>