<header>

    <h1>
        Inventory Application
    </h1>

    <nav>
        <ul>
            <li>
                <a href="/" target="_self" class="nav-link">Home</a>
            </li>
            <li>
                <a href="/categories" target="_self" class="nav-link">Categories</a>
            </li>
            <li>
                <a href="/all-items" target="_self" class="nav-link">+ All Items</a>
            </li>
        </ul>
    </nav>



</header>

<script>
    

    document.querySelectorAll(".nav-link").forEach(link => {
        const isCurrentPage = window.location.pathname === link.getAttribute("href");

        if (isCurrentPage) {
            link.classList.add("current-page-nav-link");
        }

        link.addEventListener("click", e => {
            if (isCurrentPage) {
                e.preventDefault();
                console.log("Already on this page!");
            }
        });
    });
</script>